{
  "openapi": "3.0.1",
  "info": {
    "title": "Scrape Table",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.scrapetable.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/maps/search": {
      "post": {
        "description": "Search Google Maps based on certain lat and long coordinates.",
        "requestBody": {
          "description": "Search query parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/maps/reviews": {
      "post": {
        "description": "Search Google Maps reviews for a specific business based on business ID.",
        "requestBody": {
          "description": "Review search parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewResults"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchPayload": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "description": "Search query"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results"
          },
          "country": {
            "type": "string",
            "description": "Country code"
          },
          "lang": {
            "type": "string",
            "description": "Language code"
          },
          "lat": {
            "type": "number",
            "format": "float",
            "description": "Latitude"
          },
          "lng": {
            "type": "number",
            "format": "float",
            "description": "Longitude"
          },
          "offset": {
            "type": "integer",
            "description": "Offset for pagination"
          },
          "zoom": {
            "type": "integer",
            "description": "Zoom level"
          },
          "flatten": {
            "type": "boolean",
            "description": "Flatten results"
          }
        },
        "required": ["query", "limit", "country", "lang", "lat", "lng", "offset", "zoom", "flatten"]
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "ReviewPayload": {
        "type": "object",
        "properties": {
          "business_id": {
            "type": "string",
            "description": "Business ID"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results"
          },
          "country": {
            "type": "string",
            "description": "Country code"
          },
          "lang": {
            "type": "string",
            "description": "Language code"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for reviews"
          }
        },
        "required": ["business_id", "limit", "country", "lang", "sort"]
      },
      "ReviewResults": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["error", "message"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
