{
  "openapi": "3.0.1",
  "info": {
    "title": "Scrape Table",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://v2.scrapetable.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/maps/search": {
      "$ref": "./paths/maps-search.json"
    },
    "/maps/reviews": {
      "$ref": "./paths/maps-reviews.json"
    },
    "/maps/search-bulk": {
      "post": {
        "description": "Search Google Maps based on certain lat and long coordinates for multiple locations.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Search query parameters for multiple locations",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "../schemas/search-payload.json"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/search-results.json"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../schemas/error.json"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchPayload": {
        "$ref": "./schemas/search-payload.json"
      },
      "SearchResults": {
        "$ref": "./schemas/search-results.json"
      },
      "ReviewPayload": {
        "$ref": "./schemas/review-payload.json"
      },
      "ReviewResults": {
        "$ref": "./schemas/review-results.json"
      },
      "Error": {
        "$ref": "./schemas/error.json"
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key"
      }
    }
  }
}
